# Logs
*-debug.log
.log

# Firebase
.firebase/
firebase-export-*/
firebase-data/

# OS
.DS_Store
Thumbs.db

# Flutter (if root is used)
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins*
**/generated_plugin_registrant.*

# Frontend Maps API
frontend/.env
frontend/flexi_node/web/maps_config.js
frontend/flexi_node/env.local.json
frontend/flexi_node/android/app/google-services.json
